body {
    font-family: Roboto, sans-serif;
}


.navbar {
    background-color: rgb(0, 0, 0);
}


#cabecalho .nav .nav-link.acctive {
    background-color: #fff;
}

#cabecalho .nav .navlink,
.navbar-brand
.navbar-brand:hover {
    color: #fff;
}


.navbar-brand {
    font-family: Grandstander, cursive;
    color: #fff;
    font-size: 50px;
}

.carousel-item {
    position: relative;
    width: 100%; /* Ajusta a largura do carrossel */
    height: 400px; /* Ajusta a altura desejada do carrossel */
    overflow: hidden; /* Garante que a imagem não extrapole o carrossel */
}

.carousel-item img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto; /* Ajusta a altura da imagem proporcionalmente */
    object-fit: cover; /* Garante que a imagem cobre todo o carrossel */
    transform: translate(-50%, -50%); /* Centraliza a imagem */
}

.a {
    color: #fff;
}

.nav .nav-pills,
.nav-link {
    font-size: 20px;
}

.navbar-toggler { 
    background-color: #ffeaff;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }
}

.section-title {
    font-family: Grandstander, cursive;
}

.section-title span {
    color: rgb(81, 81, 243);
}

#Sobre-o-restaurante, #cardapio {
    background-color: rgb(250, 213, 111);
}

.text-colored {
    color: rgb(81, 81, 243);
}


.nav-cardapio .nav-link.active {
    background-color: rgb(245, 179, 0);
    color: rgb(81, 81, 243);
}

.nav-cardapio .nav-link:hover {
    color: rgb(81, 81, 243);
}

.cardp {
    width: 200px; /* Largura do quadrado desejado */
    height: 200px; /* Altura do quadrado desejado */
    overflow: hidden; /* Garante que a imagem não ultrapasse o contêiner */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.cardp img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Faz com que a imagem cubra o contêiner sem distorcer */
    position: absolute;
    top: 0;
    left: 0;
}

.social-links li {
    list-style: none;
    display: inherit
    ;
}

.social-links a {
    text-decoration: none;
}

#Fale-conosco button {
    text-decoration: none;
}